body {
    color: red;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font: bold;
}

h1 {
    color: silver;
}

.box {
    color: rgb(23, 7, 68);
    font-size: large;
}

.container {
    width: 50%;
    margin: auto;
}