<h1>Hello welcome to My API</h1>

<input id="input" list="sug"/>
<datalist id="sug"></datalist>
<button id="adder">Add</button>
<hr />
<div id="div"></div>
<script>
    // quit leadership


    let input = document.getElementById("input");
    let div = document.getElementById("div");
    let adder = document.getElementById("adder");
    let sug = document.createElement("sug");
    let id = 0;

    adder.addEventListener("click", function () {
        fetch("https://localhost:44353/api/user", {  
            method: "Post",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "id": id++,
                "userName": input.value,
            })
        })
        location.reload();
    })

    fetch("https://localhost:44353/api/user").then(function (res) {
        res.json().then(function (data) {
            let suggestions = search(data);
            for (let i = 0; suggestions.length > i; i++) {
                let options = document.createElement("option");
                options.value = suggestions[i];
            }
        })
    })

    function search(data) {
        result = [];
        for (let i = 0; data.length > i; i++) {
            if (data[i].userName.startsWith(input.value)) {
                result.push(data[i].userName);
            }
        }
        return result;
    }



    fetch("https://localhost:44353/api/user").then(function (res) {
        res.json().then(function (data) {
            let suggestions = search(data);
            for (let i = 0; suggestions.length > i; i++) {
                let options = document.createElement("li");
                options.innerHTML = suggestions[i];
            }
        })
    })
</script>
