@model IEnumerable<Post_2.Models.Post>



@foreach (var post in Model)
{
    <h1>@post.postContent</h1>

       @foreach (var b in post.comments)
       {
           <h4>@b.commentContent</h4>
       }

 }