<h1>User Names</h1>

<input id="input" list ="list"/>
<datalist id="list"></datalist>
<button id="add">Add</button>
<hr />
<div id="div"></div>

<script>
    let input = document.getElementById("input");
    let add = document.getElementById("add");
    let div = document.getElementById("div");
    let list = document.getElementById("list");

    input.addEventListener("keydown", function () {
        fetch("").then(function (res) {
            res.json().then(function (data) {
                let results = search(data);
                for (let i = 0; results.length > i; i++) {
                    list[i].innerHTML = data[i].userName;
                }
            })
        })
    })

    function search(data) {
        let startwithArray = [];
        for (let i = 0; data.length > i; i++) {
            if (data[i].userName.startWith(input.value)) {
                startwithArray.push(data[i].userName);
            }
        }
        return startwithArray;
    }


</script>