<h1>User Names</h1>

<input id="input" list ="list"/>
<datalist id="list"></datalist>
<button id="add">Add</button>
<hr />
<div id="div"></div>

<script>
    let input = document.getElementById("input");
    let add = document.getElementById("add");
    let div = document.getElementById("div");
    let list = document.getElementById("list");

    input.addEventListener("keydown", function () {
        list.innerHTML = "";
        fetch("https://localhost:44334/api/user").then(function (res) {
            res.json().then(function (data) {
                let results = search(data);
                for (let i = 0; results.length > i; i++) {
                    let option = document.createElement("option");
                    option.value = results[i];
                    console.log(results[i])
                    list.append(option);
                }
            })
        })
    })

    function search(data) {
        let startwithArray = [];
        for (let i = 0; data.length > i; i++) {
           
            if (data[i].userName.startsWith(input.value)) {
                console.log(data[i].userName);
                startwithArray.push(data[i].userName);
            }
          
        }
        return startwithArray;
    }


</script>