<h1>User Names</h1>

<input id="input"/>
<button id="add"></button>
<hr />
<div id="div"></div>

<script>
    let input = document.getElementById("input");
    let add = document.getElementById("add");


</script>