@model WebApplication4.Models.TestViewModel
@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model.ListOfItems)
{
    <h1>@item.ItemName</h1>

}
<input type="text" id=" input"/>
<button id="add">Add</button>
<hr />

<script>

</script>








