@model WebApplication4.Models.TestViewModel
@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model.ListOfItems)
{
    <h1>@item.ItemName</h1>

}
<input type="text" id="input"/>
<button id="add">Add</button>
<button id="remove">Remove</button>
<hr />

<div id="div">

</div>


<script>
    let input = document.getElementById("input");
    let add = document.getElementById("add");
    let div = document.getElementById("div");
    let names = [];
    let remove = document.getElementById("remove");

    div.style.display = "none";

    remove.addEventListener("click", function () {
        div.style.display = "none";
    })

    add.addEventListener("click", function () {
        if (input.value.length == 0) {
            alert("Input can not be empty");
        } else {
            names.push(input.value);
            let li = document.createElement("li");
            li.innerHTML = input.value
            div.append(li);
            div.style.display = "block";

        }
    })

   

</script>








