@model day100two.ViewModel.UserClientViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>@Model.item.itemName</h1>
<h1>@Model.user.userName</h1>

@foreach (var itemo in Model.Items)
{
    <li>@itemo.itemName</li>
}

