.body {
    background-color: darkseagreen;
    border: darkslateblue;
}

#span li:nth-child(odd) {
    background: chartreuse;
}

#span li:nth-child(even) {
    background: blueviolet;
}

.input {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}