.body {
    background-color: cornsilk;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.span {
    margin: auto;
    width: 50%;
}

.suggestion {
    font-family: cursive;
    font-style: italic;
    color: darkkhaki;
}

.ull li:nth-child(even) {
    background: darkorange;
}

.ull li:nth-child(odd) {
    background: darkred;
}