@{
    ViewData["Title"] = "Home Page";
}

<textarea id="text"></textarea>
<span id="span"></span>
<span id="spanTwo"></span>

<script>
    let count = 0;
    let countTwo = 0;
    let text = document.getElementById("text");
    let span = document.getElementById("span");
    let spanTwo = document.getElementById("spanTwo");

    text.addEventListener("keyup", function () {
        if (text.value == "\n") {
            spanTwo
        } else {
            count++;
            span.innerHTML = count;
        }
        
        })

</script>
