@{
    ViewData["Title"] = "Home Page";
}

<textarea id="text"></textarea>
<span id="span"></span>

<script>
    let count = 0;
    let text = document.getElementById("text");
    let span = document.getElementById("span");

    text.addEventListener("keyup", function () {
        count++;
        span.innerHTML = count;
    })

</script>
