@{
    ViewData["Title"] = "Home Page";
}

<input autocomplete="off" id="BookName"/>
<button id="add">ADD</button>
<hr />
<div id="div"></div>
<script>
    let BookName = document.getElementById("BookName");
    let add = document.getElementById("add");
    let div = document.getElementById("div");

    fetch("https://localhost:44399/api/books/").then(function (res) {
        res.json().then(function (data) {
            for (let i = 0; data.length > i; i++) {
                let li = document.createElement("li");
                let updateB = document.createElement("button");
                updateB.innerHTML = "Update";
                updateB.addEventListener("click", function () {
                    if (BookName.value.length == 0) {
                        alert("New Book name required");
                    } else {
                        fetch(`https://localhost:44399/api/books/${data[i].booksID}/${BookName.value}`, {
                            method: "Put",
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                        })
                        location.reload();
                    }

                })
                let deleteB = document.createElement("button");
                deleteB.innerHTML = "Delete";
                deleteB.addEventListener("click", function () {
                    fetch(`https://localhost:44399/api/books/${data[i].booksID}`, {
                        method: "delete",
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                        },

                    })
                    location.reload();
                })
                li.innerHTML = data[i].bookName;
                div.append(li);
                div.append(updateB);
                div.append(deleteB);
            }

        })
    })


    add..addEventListener("click", function () {
        if (BookName.value.length == 0) {
            alert("New Book name required");
        } else {
            fetch(`https://localhost:44399/api/books/`, {
                method: "Post",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "userName": BookName.value,
                })
            })
            location.reload();
        }

    })
</script>
