@model Showie.ShowViewModel.ShowViewModel


@Model.Movie.Name <h3>Has rented has been rented by </h3>

@foreach (var item in Model.Customers)
{
    <h1>@item.Name</h1>

}

<a  asp-controller="Movie" asp-action="AddFollower">Show</a>

