@{
    ViewData["Title"] = "Home Page";
}

<textarea id="input"  rows="4" cols="50"></textarea>


<span id="span"></span>
<span id="spanCount"></span>



<script>
    let input = document.getElementById("input");
    let span = document.getElementById("span");
    let spanCount = document.getElementById("spanCount");
    let count = 0;
    let countLine = 0;
    let currentInput = [];


    input, addEventListener("keyup", function () {

        if (input.value.match(/\n/g)) {
            countLine++;
            spanCount.innerHTML = countLine;
        }
        count++;
        span.innerHTML = count;
    })

</script>
