@model SimpleImageGallary.Models.ImageViewModel


<div class="container body-content">
    <div class="row image-datail-container">
        <div class="image-datail">
            <img src ="@Model.url"alt=" @Model.Title"/>
        </div>
    </div>
    <div class="row image-datail-meta">
  <span>Title: @Model.Title</span>
        <span>
            uploaded: @Model.Created
        </span>
    </div>
    <div class="row controls">
        <a class="btn btn-primary" asp-controller="Gallery" asp-action="Index">
            Back to Gallery
        </a>
    </div>

</div>