@model SimpleImageGallary.Models.ImageViewModel


<div class="container body-content">
    <div class="row image-datail-container">
        <div class="image-datail">
            <img src ="@Model.url"alt=" @Model.Title"/>
        </div>
    </div>
    <div>

    </div>
</div>