@model SimpleImageGallary.Models.GalleryIndexModel 

<div class="container body-content">
    <div class="gallery-content">
        @foreach (var image in Model.Images)
        {
            <div class="gallery-image" style="background-image:url(@image.url)"></div>
            <span>@image.Title</span>
            <ul>
                @foreach(var tag in image.Tags)
                {
                    <li>
                    @tag.Discription
                    </li>
                }
            </ul>
          
        }
    </div>



</div>