<h2>Hello Welcome to my social network</h2>


    <div class="post">
        <input class="titlePost" id="postTitle" placeholder="Post Title" />
        <textarea class="contentPost" id="textarea" placeholder="Post Content"></textarea>
        <button class="commentPost" id="addContent">Add Content</button>
        <span class="viewPost" id="PostViews">PostViews</span>
    </div>





<hr />

<div id="div" class="container">

</div>

