




<h2>Hello Welcome to my Blog</h2>

<div class="container">
    <div class="form-group">
        <div class="titlePost">
            <input  id="postTitle" placeholder="Post Title" />
        </div>
        <div class="contentPost">
            <textarea  id="textarea" placeholder="Post Content"></textarea>
        </div>
        <div class="commentPost">
        <button  id="addContent">Add Content</button>
        </div>
        <div class="viewPost">
        <span class="viewPost" id="PostViews">PostViews</span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 titletwo">
            <p >Tittle </p>
        </div>
        <div class="col-sm-4 contenttwo">
            <p>Content </p>
        </div>
        <div class="col-sm-4 postlikestwo">
            <p>Likes </p>
        </div>
        <div class="col-sm-4 view two">
            <p> views</p>
        </div>
        <div class="col-sm-4 comments two">
            <p>comments </p>
        </div>
    </div>
</div>








<hr />

<div id="div" class="container">

</div>

