<form action="results.html" method="GET" enctype="multipart/form-data">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
    </div>
 


  
    <button type="reset">Reset</button>
    <button type="submit">Submit</button>
</form>




<h2>Hello Welcome to my social network</h2>

<div class="container">
    <div class="form-group">
        <div>
            <input class="titlePost" id="postTitle" placeholder="Post Title" />
        </div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
        <input class="titlePost" id="postTitle" placeholder="Post Title" />
        <textarea class="contentPost" id="textarea" placeholder="Post Content"></textarea>
        <button class="commentPost" id="addContent">Add Content</button>
        <span class="viewPost" id="PostViews">PostViews</span>
    </div>
</div>

<div class="login-box">
    <h1>Login</h1>
    <div class="texbox"></div>
</div>






<hr />

<div id="div" class="container">

</div>

