

<div class=" header1">
    <div id="name" class="header1">My Blog</div>
    <div id="searcharea" class="header1">
        <input placeholder="search here...." type="text" id="searchbox" />
    </div>
</div>








<br />
<div id="div">

</div>


<div class="container">
    <div class="form-group">
        <div class="titlePost">
            <input id="postTitle" placeholder="Post Title" />
        </div>
       
    <div class="post" ><textarea placeholder="Post Content" id="postbox"></textarea></div>
    <div><input type="submit" id="addContent" value="post" class="postButton"/></div>
     
      
    </div>
</div>












<div id="div" >

</div>

