<h2>Hello Welcome to my social network</h2>

<div>
    <textarea id="textarea"></textarea>
    <button id="addContent">Add Content</button>
    <span id="PostViews">PostViews</span>
</div>

<hr />

<div id="div">

</div>

