<h2>Hello Welcome to my social network</h2>

<div class="container">
    <div class="post">
        <input class="title" id="postTitle" placeholder="Post Title" />
        <textarea class="content" id="textarea" placeholder="Post Content"></textarea>
        <button class="comment" id="addContent">Add Content</button>
        <span class="view" id="PostViews">PostViews</span>
    </div>
</div>

<div>
    <h2>Test post</h2>
    <p>This is a test post, we are creating css styping hear</p>
    <span></span>
    let postTitleFromDb = document.createElement("h2");
    let PostViewsFromDb = document.createElement("span");
    let postContentFromDb = document.createElement("p");
    let postLike = document.createElement("p");
</div>


<hr />

<div id="div" class="container">

</div>

