<h2>Hello Welcome to my social network</h2>

<div class="container"></div>
    <input id="postTitle" placeholder="Post Title"/>
    <textarea id="textarea" placeholder="Post Content"></textarea>
    <button id="addContent">Add Content</button>
    <span id="PostViews">PostViews</span>


<hr />

<div id="div" class="container">

</div>

