@{
    ViewData["Title"] = "Home Page";
}
<h1>Hello welcome to my API</h1>

<input id="input"/>
<button id="add">Add Item</button>
<div id="div"></div>
<hr />

<script>
    let div = document.getElementById("div");
    let add = document.getElementById("add");
    let input = document.getElementById("input");

    add.addEventListener("click", function () {
        if (input.value.length == 0) {
            alert("input name is required");
        } else {

        }
    });

    fetch("").then(function (data) {
        data.json().then(function (res) {
            for (let i = 0; res.length > i; i++) {
                let li = document.createElement("li");
                li.innerHTML = res[i].name;
                div.append(li);
            }
        })
    })



</script>
 