@{
    ViewData["Title"] = "Home Page";
}
<h1>Hello welcome to my API</h1>

<input id="input"/>
<button id="add"></button>
<div id="div"></div>
<hr />

<script>
    let div = document.getElementById("div");
    let add = document.getElementById("add");
</script>
 