@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello, Welcome to My api</h1>
<input id="input"/>
<button id="add">Add</button>
<hr />
<div id="div"></div>

<script>
    let input = document.getElementById("input");
    let add = document.getElementById("add");
    let div = document.querySelector("#div");

    fetch("https://localhost:44321/api/user").then(function (res) {
        res.json().then(function (data) {
            for (let i = 0; data.length > i; i++) {
                let li = document.createElement("li");
                let editButton = document.createElement("button");
                editButton.innerHTML = "edit";
                editButton.addEventListener("click", function () {
                    fetch(`https://localhost:44321/api/user/{data[i].userID}/{input.value}`, {
                        method: "PUT",
                        headers: {
                            "accept": "application/json",
                            "content-type" : "application/json",
                        }
                    })
                })
                let deleteButton = document.createElement("button");
                li.innerHTML = data[i].userName;
                div.append(li);
                div.append(editButton);
                div.append(deleteButton);
            }
        })
    })
</script>
