@{
    ViewData["Title"] = "Home Page";
}

<input id="userName"/>
<button id="add"> ADD USER</button>

<script>
    let userName = document.getElementById("userName");
    let add = document.getElementById("add");

    add.addEventListener("click", function () {
        alert("clicked");
    })

    fetch("").then(function (res) {
        res.json.then(function (data) {
            for (let i = 0; data.length > i; i++) {
                let li = document.createElement("li");
                li.innerHTML = data[i].userName;
            }
        })
    })
</script>

