@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<button id="adder" class="display-4">Button</button>

<script>


    fetch(` https://v2.convertapi.com/convert/pdf/to/pptx?Secret=GNfkcRzVmzd4DXsk`, {

    }
        )

    POST https://v2.convertapi.com/convert/pdf/to/pptx?Secret=GNfkcRzVmzd4DXsk
    Content - Type: application / json

    {
        "Parameters": [
            {
                "Name": "File",
                "FileValue": {
                    "Name": "my_file.pdf",
                    "Data": "<Base64 encoded file content>"
                }
            },
            {
                "Name": "StoreFile",
                "Value": true
            }
        ]
    }
</script>