@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<button id="adder">Button</button>
<input id="input"/>
<div id="div"></div>
<script>
    let adder = document.getElementById("adder");
    let input = document.getElementById("input");
    let div = document.getElementById("div");
    let name = [];

    adder.addEventListener("click", function () {
        if (input.value.legnth == 0) {
            alert("Input is required");
        } else {
            for (let i = 0; input.legnth > i; i++) {
                if (name[i].indexOf(input.value) > -1) {
                    alert(`${input.value} already on the list`);
                } else {
                    let item = document.createElement("li");
                    item.innerHTML = input.value;
                    div.append(item);
                }
            }
          
            
        }
    })
</script>